html {
	font-size: 62.5%; /* Reset para rem. 62.5% = 10px de 16ps */
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.6rem;
}

img {
	max-width: 100%;
}

/* Globales */
a {
	text-decoration: none;
}

.hover-to-show { 
	opacity: 0;
	transition: all .2s ease-in-out;
}

.hover-to-show-link:hover .hover-to-show {
	opacity: 1;
	transition: all .2s ease-in-out;
}

/* Header */
.site-header {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.barra {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.barra.contacto{
	background-color: #012840;
}

.logo {
	padding: 1rem;
	color: white;
	font-weight: 700;
	font-size: 2rem;
}

.navegacion {
	display: flex;
}

.navegacion div {
	padding: 1rem;
}

.navegacion div:hover {
	background-color: #0388A6;
}

.navegacion a {
	text-decoration: none;
	color: white;
	font-size: 1.8rem;
	font-weight: 700;
}

.titulo {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translateY(-50%);
}

.titulo h1 {
	position: relative;
	left: -50%;
	font-size: 5rem;
}

.titulo p {
	position: relative;
	left: -50%;
}

#canvas-container {
	flex-grow: 1;
}

/* Secciones */
.contenedor {
	min-height: 50vh;
	width: 80%;
	margin: 3rem auto;
}

.encabezado {
	color: white;
	text-align: center;
}

/* Proyectos */
#proyectos {
	background: linear-gradient(#025373, #0388A6);
}

.catalogo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.proyecto {
	background: url(../imgs/seminuevos.png);
	background-position: center top;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 20rem;
	color: white;
}

.proyecto:hover {
	cursor: pointer;
}

.proyecto h4 {
	margin: 0 0 1rem 0;
}

.proyecto p {
	margin: 0;
	font-weight: 100;
	font-size: 1.4rem;
}

.descripcion-proyecto {
	padding: 1rem;
	background-color: #011826EE;
	position: absolute;
	bottom: 0;
}

/* Contacto */

#contacto {
	background: linear-gradient(#0388A6, #012840);
	color: white;
}

.form-contacto {
	max-width: 70rem;
	margin: 0 auto;
}

.form-contacto div {
	display: flex;
	flex-direction: column;
}

.form-contacto div label {
	margin: 0.2rem 0;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #AAAAAA;
	padding: 0.7rem;
}

input[type=submit] {
	background: #0388A6;
	color: white;
	border: 1px solid #0388A6;
	margin-top: 2rem;
	width: 100%;
	padding: 0.7rem 0;
	font-size: 1.6rem;
	font-weight: 700;
}

input[type=submit]:hover {
	cursor: pointer;
}

.body-contacto {
	background-color: #0388A6;
}

/* Footer */
.site-footer {
	background-color: #011826;
	margin: 0;
	color: white;
	padding: 1rem 0;
}

.site-footer .copy {
	margin: 0 auto;
	text-align: center;
}